@font-face {
    font-family: Windows;
    src: url(WindowsFont.ttf);
}
* {
    font-family: Windows;
}
body {
    background-color:#ecedff;
    background-image: url("pics/hand-drawn-rainbow-glitter-backg.jpg");
    background-size: cover;
    background-repeat: repeat-y;
}
#test {
    border: 1px solid black;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;

    background: #dcb2fe;
    border: 3px #ebdfff;
    border-style: solid none none solid;
    line-height: 2;
    font-size: 30px;
    font-family: Windows;
    text-align:left;
    
}
#WindowsButton {
    margin-left: 5px;
    border: 3px solid;
    padding-left: 5px;
    border-color: #ebdfff #472f9a #472f9a #ebdfff;
    display: inline;
    text-decoration: none;
    color: #472f9a;
    inline-size: fit-content;
}
#popupmini {
    background: #dcb2fe;
    color: #472f9a;
    margin: 1px;
    margin-right: 2px;
    height:22px;
    width:22px;
    border: 2px solid;
    border-color: #ebdfff #1a1d7f #1a1d7f #ebdfff;
    text-align: center;
    float:right;
    vertical-align: middle;
    line-height: 18px; 
}
#popupmini:active {
    background-color: #aa83f4;
    border-color: #1a1d7f #ebdfff #ebdfff #1a1d7f ;
}
#Splitter {
    font-size: 25px;
    margin-left: 5px;
    border: 3px solid;
    border-color: #ebdfff #aa83f4 #aa83f4 #ebdfff;
    display: inline;
}
#time {
    color: #472f9a;
    font-size: 25px;
    margin: 5px;
    height:50px;
    width:100px;
    border: 3px solid;
    background-color: #aa83f4;
    border-color: #472f9a #ebdfff #ebdfff #472f9a ;
    text-align: center;
    float:right;
    vertical-align: middle;
    line-height: 50px; 
}
#WindowsButton:active {
    background-color: #aa83f4;
    border-color: #472f9a #ebdfff #ebdfff #472f9a ;
}
#popup{
    border: 3px solid;
    background: #e4c3ff;
    border-color: #ebdfff #472f9a #472f9a #ebdfff;
    margin: 10px;
    color: #472f9a;

}
#popupheader{
    margin: 2px;
    padding: 2px;
    background: #6f3dff;
    color: #ebdfff;
}
@media screen and (max-width: 980px) {
    #bigscreen {
        display: none;
    }
}
@media screen and (min-width: 980px) {
    #smallscreen {
        display: none;
    }
}