@font-face {
    font-family: Windows;
    src: url(WindowsFont.ttf);
}
* {
    font-family: Windows;
}
body {
    background-color:#ecedff;
    background-image: url("pics/hand-drawn-rainbow-glitter-backg.jpg");
    background-size: cover;
    background-repeat: repeat-y;
}
#test {
    border: 1px solid black;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;

    background: #6f3dff;
    border: 3px #ba95fe;
    border-style: solid none none solid;
    line-height: 2;
    font-size: 30px;
    font-family: Windows;
    text-align:left;
    
}
#WindowsButton {
    margin-left: 5px;
    border: 3px solid;
    border-color: #ba95fe #1a1d7f #1a1d7f #ba95fe;
    display: inline;
    text-decoration: none;
    color: black;
    inline-size: fit-content;
}
#popupmini {
    background: #c0c0c2;
    color: black;
    margin: 1px;
    margin-right: 2px;
    height:22px;
    width:22px;
    border: 2px solid;
    border-color: #ba95fe #1a1d7f #1a1d7f #ba95fe;
    text-align: center;
    float:right;
    vertical-align: middle;
    line-height: 18px; 
}
#popupmini:active {
    background-color: #a1a39f;
    border-color: #2c292a #e1dfe2 #e1dfe2 #2c292a ;
}
#Splitter {
    font-size: 25px;
    margin-left: 5px;
    border: 3px solid;
    border-color: #ba95fe #3f3ae5 #3f3ae5 #ba95fe;
    display: inline;
}
#time {
    font-size: 25px;
    margin: 5px;
    height:50px;
    width:100px;
    border: 3px solid;
    background-color: #a1a39f;
    border-color: #2c292a #e1dfe2 #e1dfe2 #2c292a ;
    text-align: center;
    float:right;
    vertical-align: middle;
    line-height: 50px; 
}
#WindowsButton:active {
    background-color: #a1a39f;
    border-color: #2c292a #e1dfe2 #e1dfe2 #2c292a ;
}
#popup{
    border: 3px solid;
    background: #efaefe;
    border-color: #e1dfe2 #2c292a #2c292a #e1dfe2;
    margin: 10px;

}
#popupheader{
    margin: 2px;
    padding: 2px;
    background: #6f3dff;
    color: #efaefe;
}
@media screen and (max-width: 980px) {
    #bigscreen {
        display: none;
    }
}
@media screen and (min-width: 980px) {
    #smallscreen {
        display: none;
    }
}